---
layout: base
title: План за 2017-2018 учебна година
---
ОУ "Христо Ботев", село Брестница

<section class="row">
  <div class="col-sm-3">
    <a href="{{ site.baseurl }}{% link visions/brestnitsa/_posts/2017-09-10-common-vision.md %}">Визия</a>
  </div>
  <div class="col-sm-3">
    <a href="{{ site.baseurl }}{% link cultures/brestnitsa/_posts/2017-09-14-Култура-на-класната-стая.md %}">Култура на класната стая</a>
  </div>
  <div class="col-sm-3">
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/5/math/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 5 клас - математика</a></p>
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/5/it/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 5 клас - информационни технологии</a></p>
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/6/math/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 6 клас - математика</a></p>
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/6/it/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 6 клас - информационни технологии</a></p>
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/7/math/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 7 клас - математика</a></p>
    <p><a href="{{ site.baseurl }}{% link lessons/brestnitsa/2017/7/it/_posts/2017-09-15-План-на-раздели.md %}">План на раздели - 7 клас - информационни технологии</a></p>
  </div>
</section>
{% for lesson in site.categories.br reversed  %}
{% capture i %}{{ i | plus:1 }}{% endcapture %}
[{{ i }}. {{ lesson.title }}]({{ site.baseurl }}{{ lesson.url }})
{% endfor %}
