{% assign phase = include.phase %}
{% assign content = phase.content %}
{% assign time = 5 %}
{% if phase.time %}
  {% assign time = phase.time %}
{% endif %}
{% assign verify = phase.verify %}

<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="span6">1. Въвличане</span>
      <span class="span6 pull-right">
        <span class="glyphicon glyphicon-time"></span>
          {{ time }} минути
      </span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <span class="glyphicon glyphicon-refresh"></span>
        Свързване
        <ul>
        {% for activity in content.prelude %}
          <li>{{ activity }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        <span class="glyphicon glyphicon-cog"></span>
        Изправност
        <ul>
        {% for activity in content.refresh %}
          <li>{{ activity }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-sm-3">
        <span class="glyphicon glyphicon-send"></span>
        Посока
        <ul>
          <li>В края на този час, всеки един от вас ще може да:
            <strong>{{ content.aim }}</strong>
          </li>
          <li>Какво ще направим заедно в края на този раздел?</li>
          <li>Как новото ни умение от този час ще ни помогне за големия проект?</li>
        </ul>
      </div>
    </div>
  </div>
  {% if verify %}
    <div class="panel-footer">
      Постигнахме ли целта?<br>
      {% for check in verify %}
        <input type="checkbox">{{ check }}<br>
      {% endfor %}
    </div>
  {% endif %}
</div>
