{% assign data = include.data %}
{% assign positive = "warning" %}
{% assign improve = "success" %}
{% assign normal = "primary" %}
{% assign conclusion = "default" %}
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row-fluid">
      <!--<span class="glyphicon glyphicon-align-justify"></span>-->
      Средата
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="text-{{ positive }}">Положително</th>
        <th class="text-{{ improve }}">Може да бъде подобрено</th>
        <th class="text-{{ normal }}">Даденост</th>
        <th class="text-{{ conclusion }}">Извод</th>
      </tr>
    </thead>
    <tbody>
      {% for i in data.levels %}
      <tr>
        <td>{{ i.name }}</td>
        <td class="text-{{ positive }}">
          <ul>
            {% for j in i.good %}
            <li>{{ j }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="text-{{ improve }}">
          <ul>
            {% for j in i.improve %}
            <li>{{ j }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="text-{{ normal }}">
          <ul>
            {% for j in i.normal %}
            <li>{{ j }}</li>
            {% endfor %}
          </ul>
        </td>
        <td class="text-{{ conclusion }}">
          <ul>
            {% for j in i.conclusion %}
            <li>{{ j }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="panel-footer">
    <div class="row-fluid">
      <!--<span class="glyphicon glyphicon-align-justify"></span>-->
      Извод:
    </div>
    <p>{{ data.conclusion }}</p>
  </div>
</div>
