{% assign data = include.data %}
{% assign colour = "warning" %}
<div class="panel panel-{{ colour }}">
  <div class="panel-heading">
    <div class="row-fluid">
      <!--<span class="glyphicon glyphicon-align-justify"></span>-->
      Кой съм аз?
    </div>
  </div>
  <div class="panel-body">
    <div>
      {% assign section = data.memento %}
      <div class="row">
        <div class="col-xxs-12">
          <p>Момент, в който съм чувствал гордост от себе си?</p>
        </div>
        <div class="col-sm-4">
          <p>Какво направих?</p>
          {{ section.text }}
        </div>
        <div class="col-sm-4">
          <p>Какво ми помогна?</p>
          <ul>
            {% for item in section.help %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-sm-4">
          <p>Как ме промени това преживяване?</p>
          {{ section.change }}
        </div>
      </div>
    </div>

    <hr>

    <div>
      {% assign section = data.values %}
      <div class="row">
        <div class="col-xxs-12">
          <p>
            Моите ценности?<br>
            Какво ми е повлияло, за да ги изградя в себе си?
          </p>
        </div>
        {% for item in data.values %}
        <div class="col-sm-4">
          <div class="panel panel-{{ colour }}">
            <div class="panel-heading">{{ item.what }}</div>
            <div class="panel-body">
              <ul>
                {% for influence in item.influence %}
                <li>{{ influence }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr>

    <div>
      {% assign section = data.priorities %}
      <div class="row">
        <div class="col-xxs-12">
          <p>Какво е важно за мен?</p>
        </div>
        <div class="col-sm-4">
          <p>В личен план?</p>
          <p>{{ section.personal }}</p>
        </div>
        <div class="col-sm-4">
          <p>В работата ми?</p>
          <p>{{ section.professional }}</p>
        </div>
      </div>
    </div>

    <hr>

    <div>
      <div class="row">
        <div class="col-xxs-12">
          <p>Какви качества притежавам?</p>
        </div>
        {% for item in data.qualities %}
        <div class="col-sm-4">
          <div class="panel panel-{{ colour }}">
            <div class="panel-heading">{{ item }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr>

    <div>
      <div class="row">
        <div class="col-xxs-12">
          <p>Какви умения искам да развия у себе си?</p>
        </div>
        {% for item in data.improve %}
        <div class="col-sm-4">
          <div class="panel panel-{{ colour }}">
            <div class="panel-heading">{{ item }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr>

    <div>
      <div class="row">
        <div class="col-xxs-12">
          <p>Какви са личните ми цели за тази година?</p>
        </div>
        {% for item in data.aims %}
        <div class="col-sm-4">
          <div class="panel panel-{{ colour }}">
            <div class="panel-heading">{{ item }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <hr>

    <div>
      <div class="row">
        <div class="col-xxs-12">
          <p>Какво обичам да правя в свободното си време?</p>
        </div>
        {% for item in data.hobies %}
        <div class="col-sm-4">
          <div class="panel panel-{{ colour }}">
            <div class="panel-heading">{{ item }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="row-fluid">
      <!--<span class="glyphicon glyphicon-align-justify"></span>-->
      Извод:
    </div>
    <p>{{ data.conclusion }}</p>
  </div>
</div>
