---
layout: base
section: 2
---
<div class="panel panel-success">
  <div class="panel-heading">
    <div class="row-fluid">
      <span class="glyphicon glyphicon-star"></span>
      <span class="span6">Табло на успехите</span>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Задача</th>
        <th>
          <span class="moon-phase">A</span> 0 точки<br>
        </th>
        <th>
          <span class="moon-phase">E</span> 1 точки<br>
        </th>
        <th>
          <span class="moon-phase">I</span> 2 точки<br>
        </th>
        <th>
          <span class="moon-phase">a</span> 3 точки<br>
        </th>
      </tr>
    </thead>
    <tbody>
      {% assign array = "1 2 3 4 5 6 7 8" | split: " " %}
      {% for i in array %}
      <tr>
        <td>{{ i }}</td>
        <td>Не е направен опит за решение</td>
        <td>Няма нищо вярно, но е направен опит за решение</td>
        <td>Решена е частично</td>
        <td>Напълно е вярна</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td>___ . 1 точка = ___ точки</td>
        <td>___ . 2 точки = ___ точки</td>
        <td>___ . 3 точки = ___ точки</td>
      </tr>
      <tr>
        <td>.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="panel panel-success">
  <table class="table">
    <thead>
      <tr>
        <td>Точки</td>
        {% assign array = "1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24" | split: " " %}
        {% for i in array %}
          <td>{{ i }}</td>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Оценка</td>
        <td>2</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>3</td>
        <td></td>
        <td></td>
        <td></td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td></td>
        <td></td>
        <td></td>
        <td>6</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="panel panel-success">
  <div class="panel-footer">
    <p>Рецензия:</p>
    <p>Справил/а си се чудесно с:</p>
    <br>
    <p>И може да поработиш още над:</p>
    <br>
    <p>Съветвам те да помолиш за помощ съученик на име:</p>
    <br>
  </div>
</div>
