---
layout: base-no-title
section: 1
name: Събиране и изваждане на естествените числа
---
{% assign students = "Анелия Красимирова Василева, Ани Бориславова Щерева, Валери Василев Райков, Васка Георгиева Райкова, Венцислав Валентинов Василев, Десислава Гергинова Иванова, Елена Светлова Райкова, Елиза Момчилова Райкова, Ивайло Стефков Иванов, Иван Надеждиев Иванов, Ивана-Никол Маргаритова Лалева, Йоана Тодорова Иванова, Лаура Недкова Стойкова, Лоренцо Лилов Петков, Малин Лалев Альошев, Маргарита Веселинова Стелиянова, Маргарита Лазарова Костова, Мариела Иванова Райкова, Милен Миленов Асенов, Мирослав Добринов Мирославов, Мирослав Чеков Маринов, Младен Васков Младенов, Николета Янкова Николаева, Павлин Стефанов Борисов, Петрана Албенова Чекова, Радослава Тихомирова Ивайлова, Росица Младенова Щерева, Силвия Ангелова Шаркова, Стефан Илиев Райков, Теди Гошова Якова, Щерьо Младенов Щерев, Янислав Петров Василев" | split: ", " %}
{% for student in students %}

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<span class="pull-right">
  {% include fragment_date_day_month_year_1.html date=page.date %}
</span>
<p style="font-size: 13pt;">{{ student }}</p>
<p style="font-size: 13pt;">5 клас</p>

<br><br>
<div class="row" style="font-size: 13pt;">
  <div class="col-sm-6">
    1. Съберете
    <ul class="no-bullets">
      <li>1 + 1 =</li>
      <li>2 + 5 =</li>
      <li>6 + 5 =</li>
      <li>20 + 7 =</li>
      <li>10 + 30 =</li>
      <li>117 + 2 =</li>
    </ul>
  </div>
  <div class="col-sm-6">
    3. Умножете
    <ul class="no-bullets">
      <li>1 . 1 =</li>
      <li>2 . 1 =</li>
      <li>2 . 5 =</li>
      <li>12 . 6 =</li>
      <li>12 . 25 =</li>
    </ul>
  </div>
</div>
<br><br>
<div class="row" style="font-size: 13pt;">
  <div class="col-sm-6">
    2. Извадете
    <ul class="no-bullets">
      <li>1 - 1 =</li>
      <li>5 - 2 =</li>
      <li>11 - 2 =</li>
      <li>578 - 12 =</li>
    </ul>
  </div>
  <div class="col-sm-6">
    4. Разделете
    <ul class="no-bullets">
      <li>1 / 1 =</li>
      <li>5 / 1 =</li>
      <li>128 / 2 =</li>
      <li>504 / 12 =</li>
    </ul>
  </div>
</div>
<div class="page-break"></div>
{% endfor %}
