---
layout: base
section: 1
name: Инструктаж
---
{% assign students = "Алекси Момчилов Райков,Альоша Иванов Доков,Асен Лалев Альошев,Валерия Събева Василева,Виктор Бориславов Ангелов,Даниела Павлова Йонкова,Елеонора Петрова Василева,Косто Събков Лазаров,Лазар Киров Лазаров,Лальо Добринов Петков,Лоренцо Лалев Чеков,Марин Стефанов Борисов,Наталия Донкова Найденова,Ники Венциславов Иванов,Николай Любомиров Георгиев,Нина Спасова Шаркова,Райко Момчилов Костов,Силвия Недкова Стойкова,Стела Янкова Николаева,Тодор Лазаров Георгиев,Янислава Младенова Шакирова" | split: ',' %}

{% for student in students %}

<div>
  <h1>Какво харесвам</h1>
  <p>{{ student }}</p>
  <ol>
    <li>песен:</li>
    <li>танц:</li>
    <li>филм:</li>
    <li>спорт:</li>
    <li>игра:</li>
    <li>занимание:</li>
    <li>вещ:</li>
    <li>учебен предмет:</li>
    <li>книга:</li>
  </ol>
</div>
<br><br><br><br>
{% endfor %}
