<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-xxs.css">
    {% for stylesheet in page.stylesheets %}
      <link rel="stylesheet" href="{{ site.baseurl }}/{{ stylesheet }}">
    {% endfor %}
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>
          {% if layout.title %}
            {{ layout.title }}
          {% else %}
            {{ page.title}}
          {% endif %}
        </h1>
      </div>
      <div class="row">
        <div class="col-xxs-12">
          {{ content }}
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    {% for script in page.scripts %}
      <script type="text/javascript" src="{{ site.url }}/{{ script }}">
      </script>
    {% endfor %}
  </body>
</html>
