---
layout: base
title: Разработките на г-н "Х"
---
<div class="row">
  <div class="col-sm-6">
    <a href="{{ site.baseurl }}{% link la-2017.md %}">
      <h3>Лятна академия на "Заедно в час"</h3>
      <div>90 СУ "генерал Хосе де Сан Мартин"</div>
      <div>град София</div>
      <div>2017 година</div>
    </a>
  </div>
  <div class="col-sm-6">
    <a href="{{ site.baseurl }}{% link brestnitsa-2017.html %}">
      <h3>ОУ "Христо Ботев"</h3>
      <div>село Брестница</div>
      <div>2017-2018 учебна година</div>
    </a>
  </div>
</div>
