---
layout: base
---
<span>{{ page.categories[3] }} клас</span>
<span class="pull-right">
  {% include fragment_date_day_month_year_1.html date=page.date %}
</span>
<div>{{ page.name }}</div>
<!-- <div>Помощник-учител: ................................</div> -->
<br><br>
<div class="panel-group">
  {% if page.aims %}
    {% include lesson_panel_0_1_aims_2.html page=page %}
  {% endif %}
  {% if page.base %}
    {% include lesson_panel_0_2_base_1.html base = page.base %}
  {% endif %}
  {% if page.prepare %}
    {% include lesson_panel_0_3_prepare_1.html phase=page.prepare %}
  {% endif %}
  {% if page.engage %}
    {% include lesson_panel_1_engage_2.html phase=page.engage %}
  {% endif %}
  {% if page.explore %}
    {% include lesson_panel_2_explore_1.html phase=page.explore %}
  {% endif %}
  {% if page.explain %}
    {% include lesson_panel_3_explain_1.html phase=page.explain %}
  {% endif %}
  {% if page.elaborate %}
    {% include lesson_panel_4_elaborate_1.html phase=page.elaborate %}
  {% endif %}
  {% if page.elaborate.matrix %}
    {% include proggress_panel_criteria_matrix_1.html phase=page.elaborate %}
  {% endif %}
  {% if page.evaluate %}
    {% include lesson_panel_5_evaluate_1.html phase=page.evaluate %}
  {% endif %}
</div>
