---
layout: base
---
<span>{{ page.class }} ........ клас</span>
<span class="pull-right">
  {% assign m = page.calendar | date: "%-m" %}
  {{ page.calendar | date: "%-d" }}
  {% case m %}
    {% when '1' %}януари
    {% when '2' %}февруари
    {% when '3' %}март
    {% when '4' %}април
    {% when '5' %}май
    {% when '6' %}юни
    {% when '7' %}юли
    {% when '8' %}август
    {% when '9' %}септември
    {% when '10' %}октомври
    {% when '11' %}ноември
    {% when '12' %}декември
  {% endcase %}
  {{ page.calendar | date: "%Y" }}
</span>
<div>Помощник-учител: ................................</div>
<br>
<div class="panel-group">
  {% if page.aims %}
    {% include lesson_panel_0_1_aims_1.html page=page %}
  {% endif %}
  {% if page.base %}
    {% include lesson_panel_0_2_base_1.html base = page.base %}
  {% endif %}
  {% if page.prepare %}
    {% include lesson_panel_0_3_prepare_1.html phase=page.prepare %}
  {% endif %}
</div>

<div class="panel-group">
  {% if page.engage %}
    {% include lesson_panel_1_engage_2.html phase=page.engage %}
  {% endif %}
  {% if page.explore %}
    {% include lesson_panel_2_explore_1.html phase=page.explore %}
  {% endif %}
  {% if page.explain %}
    {% include lesson_panel_3_explain_1.html phase=page.explain %}
  {% endif %}
  {% if page.elaborate %}
    {% include lesson_panel_4_elaborate_1.html phase=page.elaborate %}
  {% endif %}
  {% if page.elaborate.matrix %}
    {% include proggress_panel_criteria_matrix_1.html phase=page.elaborate %}
  {% endif %}
  {% if page.evaluate %}
    {% include lesson_panel_5_evaluate_1.html phase=page.evaluate %}
  {% endif %}
</div>
