---
layout: base
---
<span>{{ page.categories[3] }} клас</span>
<span class="pull-right">
  {% include fragment_date_day_month_year_1.html date=page.date %}
</span>
<div>{{ page.name }}</div>
<br><br>
{{ content }}
