---
layout: base
---
<span>{{ page.class }} ........ клас</span>
<span class="pull-right">
  {% assign m = page.calendar | date: "%-m" %}
  {{ page.calendar | date: "%-d" }}
  {% case m %}
    {% when '1' %}януари
    {% when '2' %}февруари
    {% when '3' %}март
    {% when '4' %}април
    {% when '5' %}май
    {% when '6' %}юни
    {% when '7' %}юли
    {% when '8' %}август
    {% when '9' %}септември
    {% when '10' %}октомври
    {% when '11' %}ноември
    {% when '12' %}декември
  {% endcase %}
  {{ page.calendar | date: "%Y" }}
</span>
<div>Помощник-учител: ................................</div>
<br>
<div class="panel-group">
  {% include lesson_panel_0_1_aims_1.html page=page %}
  {% include lesson_panel_0_2_base_1.html base=page.base %}
  {% assign phase=page.phases[0] %}
  {% include lesson_panel_0_3_prepare_1.html phase=phase %}
</div>

<div class="panel-group">
  {% assign phase=page.phases[1]%}
  {% include lesson_panel_1_engage_1.html phase=phase %}

  {% assign phase=page.phases[2]%}
  {% include lesson_panel_2_explore_1.html phase=phase %}

  {% assign phase=page.phases[3]%}
  {% include lesson_panel_3_explain_1.html phase=phase %}

  {% assign phase=page.phases[4]%}
  {% include lesson_panel_4_elaborate_1.html phase=phase %}

  {% assign phase=page.phases[5]%}
  {% include lesson_panel_5_evaluate_1.html phase=phase %}
</div>
