---
layout: base
---
{{ page.categories[3] }} клас,
{% case page.categories[4] %}
  {% when 'it' %}
    информационни технологии
  {% when 'math' %}
    математика
{% endcase %}
<br><br>

{% assign i = 1 %}
  <table class="table table-bordered">
    <thead>
      <tr class="success">
        <th rowspan="2" class="text-center">#</th>
        <th rowspan="2" class="text-center">Кога</th>
        <th colspan="2" class="text-center">Заглавие</th>
        <th rowspan="2" class="text-center">Ключ</th>
        <th rowspan="2" class="text-center">Цел</th>
        <th rowspan="2" class="text-center">Знания</th>
        <th rowspan="2" class="text-center">Умения</th>
        <th rowspan="2" class="text-center">Нагласи</th>
        <th rowspan="2" class="text-center">Въвлеченост</th>
      </tr>
      <tr class="success">
        <th class="text-center">Приветливо</th>
        <th class="text-center">Точно</th>
      </tr>
    </thead>
    <tbody>
      {% for section in page.sections %}
        <tr class="warning">
          <td>{{ i }}</td>
          <td></td>
          <td>{{ section.name.welcoming }}</td>
          <td>{{ section.name.boring }}</td>
          <td>{{ section.key }}</td>
          <td>{{ section.aim }}</td>
          <td>{{ section.knowledge }}</td>
          <td>{{ section.skills }}</td>
          <td>{{ section.mindsets }}</td>
          <td>{{ section.engagement }}</td>
        </tr>
        <!-- get the total number of lessons in the section -->
        {% assign sum = 0 %}
        {% for lesson in site.categories.lessons %}
          {% if lesson.categories == categories and lesson.section == i %}
            {% assign sum = sum | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% assign j = 1 %}
        {% for lesson in site.categories.lessons reversed %}
          {% if lesson.categories == page.categories and lesson.section == i %}
            <tr {% if j == sum %}class="active"{% endif %}>
              <td>{{ i }}.{{ j }}</td>
              <td>{% include fragment_date_day_month_year_1.html date=lesson.date %}</td>
              <td><a href="{{ site.baseurl }}{{ lesson.url }}">{{ lesson.title }}</a></td>
              <td><a href="{{ site.baseurl }}{{ lesson.url }}/./assets">{{ lesson.name }}</td>
              <td>{{ lesson.key }}</td>
              <td>{{ lesson.aims.lesson }}</td>
              <td>{{ lesson.aims.knowledge }}</td>
              <td>{{ lesson.aims.skill }}</td>
              <td>{{ lesson.aims.mindset }}</td>
              <td>{{ lesson.aims.engagement }}</td>
            </tr>
            {% assign j = j | plus: 1 %}
          {% endif %}
        {% endfor %}
        {% assign i = i | plus: 1 %}
      {% endfor %}
    </tbody>
  </table>
