---
layout: base-no-title
section: 1
name: Числа. Сравняване. Изобразяване върху числов лъч.
key: Дробните числа могат да бъдат сравнявани с естествените числа
---
{% assign students = "Валерия Илиева Райкова, Елена Илиева Райкова, Лазар Момчилов Райков, Васил Спасков Георгиев, Румен Бориславов Младенов, Младен Лилянов Маринов, Мирослав Киров Лазаров, Димитър Ценков Василев, Косто Албенов Костов, Снежана Руменова Стоянова, Ивана Ванева Ботева, Алберто Сашев Ангелов, Силвия Лазарова Георгиева, Валерия Костова Райкова, Мелани Аннева Младенова, Марко Мариянов Николов, Щерьо Лазаров Щерев, Десислава Николаева Василева, Лазар Танев Теменужкин, Лилиян Румянов Лилов, Вероника Румянова Чекова" | split: ", " %}
{% for student in students %}

<div class="page-header">
  <h1>{{ page.title }}</h1>
</div>

<span class="pull-right">
  {% include fragment_date_day_month_year_1.html date=page.date %}
</span>
<p style="font-size: 13pt;">{{ student }}</p>
<p style="font-size: 13pt;">6 клас</p>

<br><br>
<div class="row" style="font-size: 13pt;">
  <div class="col-sm-6">
    1. Съберете
    <ul class="no-bullets">
      <li>1 + 1 =</li>
      <li>2 + 5 =</li>
      <li>6 + 5 =</li>
      <li>20 + 7 =</li>
      <li>10 + 30 =</li>
      <li>117 + 2 =</li>
    </ul>
  </div>
  <div class="col-sm-6">
    3. Умножете
    <ul class="no-bullets">
      <li>1 . 1 =</li>
      <li>2 . 1 =</li>
      <li>2 . 5 =</li>
      <li>12 . 6 =</li>
      <li>12 . 25 =</li>
    </ul>
  </div>
</div>
<br><br>
<div class="row" style="font-size: 13pt;">
  <div class="col-sm-6">
    2. Извадете
    <ul class="no-bullets">
      <li>1 - 1 =</li>
      <li>5 - 2 =</li>
      <li>11 - 2 =</li>
      <li>578 - 12 =</li>
    </ul>
  </div>
  <div class="col-sm-6">
    4. Разделете
    <ul class="no-bullets">
      <li>1 / 1 =</li>
      <li>5 / 1 =</li>
      <li>128 / 2 =</li>
      <li>504 / 12 =</li>
    </ul>
  </div>
</div>

<br><br>

<div class="row" style="font-size: 13pt;">
  <div class="col-sm-12">
    5. Пресметнете израза
    <ul class="no-bullets">
      <li>
        <math xmlns="http://www.w3.org/1998/Math/MathML" class="MathJax">
          <mfrac>
             <mn>1</mn>
             <mi>5</mi>
          </mfrac>
          <mi>+</mi>
          <mfrac>
             <mn>2</mn>
             <mi>3</mi>
          </mfrac>
          <mi>=</mi>
        </math>
      </li>
    </ul>
  </div>
</div>

<br><br>

<div class="row" style="font-size: 13pt;">
  <div class="col-sm-6">
    6. Начертайте на ръка или с помощта на чертожни инструменти:
    <ul>
      <li>квадрат</li>
      <li>правоъгълник</li>
      <li>успоредник</li>
      <li>ромб</li>
      <li>трапец</li>
      <li>триъгълник</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <br><br>
    <ul>
      <li>куб</li>
      <li>паралелепипед</li>
    </ul>
  </div>
</div>

<div class="page-break"></div>
{% endfor %}
